<h2><%= t('profil.edit') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('message.wait_email_conf') %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label t('profil.psw') %> <span class="small"><%=t('profil.donot_change_psw') %></span><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('profil.min_psw_length') %></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label t('profil.psw_confirmation') %> <span class="small"><%=t('profil.donot_change_psw') %></span><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label t('name') %> <span class="small"><%=t('profil.donot_change_psw') %></span><br />
    <%= f.text_field :name, autocomplete: @user.name %>
  </div>

  <div class="form-group">
    <%= f.label t('profil.current_password') %> <span class="small"><%= t('profil.need_psw') %></span><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions form-group">
    <%= f.submit t('profil.save') %>
  </div>
<% end %>

<div>
  <%= button_to t('profil.delete_acc'), registration_path(resource_name), data: { confirm: t('message.confirm_delete') }, method: :delete %>
</div>
<%= link_to t('back'), :back %>
