<h1><%= t('nav.appointments') %></h1>

<!-- https://github.com/excid3/simple_calendar -->

<%= week_calendar events: @idoponts do |date, idoponts| %>
  <%= date %>
  <% idoponts.each do |i| %>
    <div>
      <%= i.todo %> - <%= i.user %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idoponts.each do |idopont| %>
      <tr>
        <td><%= link_to t('show'), idopont %></td>
        <td><%= link_to t('edit'), edit_idopont_path(idopont) %></td>
        <td><%= link_to t('destroy'), idopont, method: :delete, data: { confirm: t('message.confirm_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to t('appointment.new'), new_idopont_path %>
<% end %>